<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Authors</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
  <div class="container">
    <table class="table table-striped table-bordered" *ngIf="authors">
      <thead>
        <tr>
          <th scope="col">Author</th>
          <th scope="col">Quotes</th>
          <th scope="col">Actions Available</th>
        </tr>
      </thead>
      <tbody *ngFor="let author of authors">
        <tr>
          <td>{{ author.name }}</td>
          <td>"{{ author.quote }}"</td>
          <td class="text-center">
            <button [routerLink]="['/authors/', author._id]" class="btn btn-sm btn-outline-secondary mx-2">View</button>
            |
            <button [routerLink]="['/authors', 'edit', author._id]" class="btn btn-sm btn-outline-secondary mx-2">Edit</button>
            |
            <button (click)="deleteAuthor(author._id)" class="btn btn-sm btn-outline-secondary mx-2">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>



  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
</body>
</html>
